<h1>Habit Details</h1>
  </form>
  <h2>Habit: {{habit.Habit}}</h2>
  <p>Tasks: {{habit.Tasks}}</p>
   <p>Tasks: {{habit.Tasks1}}</p>
   <p>Tasks: {{habit.Tasks2}}</p>
  <p>Time: {{habit.Time}}</p>
  <p>Duration: {{habit.Duration}}</p>
  <p>Goal: {{habit.Goal}}</p>

<a href="/myHabits">BACK</a>
<a href="/habitCreate">Add new habit</a>
<a href="/">Add habit from our Recommendations</a>

