<h1>Habit Details</h1>

  <h2>Habit: {{habit.Habit}}</h2>
  <p>Tasks: {{habit.Tasks}}</p> 
  <p>Time: {{habit.Time}}</p>
  <p>Duration: {{habit.Duration}}</p>
  <p>Goal: {{habit.Goal}}</p>

<a href="/myHabits">BACK</a>
