<h1>Habit Detail</h1>
<h1><a href="/habitEdit/{{habit._id}}">Edit habit<a/></h1> <br>
  <h2>Habit: {{habit.Habit}}</h2>
  <p>Tasks: {{habit.Tasks}}</p> 
  <p>Time: {{habit.Time}}</p>
  <p>Duration: {{habit.Duration}}</p>
  <p>Goal: {{habit.Goal}}</p>

